<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <restaurant id="restaurant" xmlns="http://xbean.apache.org/schemas/pizza" xmlns:foo="http://acme.com" serviceName="foo:xyz" uri="http://cheese.com">
    <dinnerMenu>
      <pizza myTopping="Ham" cheese="Mozzarella" size="15"/>
      <pizza myTopping="Eggs" cheese="Mozzarella" size="16"/>
    </dinnerMenu>

    <lunchMenu>
      <pizza myTopping="Chicken" cheese="Brie" size="17"/>
    </lunchMenu>

    <favourite>
      <pizza myTopping="Salami" cheese="Edam" size="17"/>
    </favourite>
  </restaurant>

  <!-- lets initialise JNDI here -->
  <bean id="jndi" class="org.apache.xbean.spring.jndi.SpringInitialContextFactory" factory-method="makeInitialContext" singleton="true">
    <property name="entries">
      <map>
        <entry key="test/restaurant" value-ref="restaurant" />
      </map>
    </property>
  </bean>
</beans>
